<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1067990161909-k7hp41lt5rm4dvlfae6t9ns1kg342rn2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1067990161909-k7hp41lt5rm4dvlfae6t9ns1kg342rn2</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1067990161909-ljt06ujemq85tj054dtf306vmnkqmfqu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDX_iCbIQet4fm5EmAVTY9maR8C9IjnELQ</string>
	<key>GCM_SENDER_ID</key>
	<string>1067990161909</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.resihop</string>
	<key>PROJECT_ID</key>
	<string>res-ihop-app</string>
	<key>STORAGE_BUCKET</key>
	<string>res-ihop-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1067990161909:ios:596588129e359b66d268bc</string>
</dict>
</plist>