<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>934266920805-vijcd4fpcujomff39c7bh1s4bub0tjik.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.934266920805-vijcd4fpcujomff39c7bh1s4bub0tjik</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>934266920805-62caeq5lisan2karccbjfr5afm5qpp5f.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA79vOCXVSK3b5sY5jdt4DkjvvSdnxYvmE</string>
	<key>GCM_SENDER_ID</key>
	<string>934266920805</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.resihop</string>
	<key>PROJECT_ID</key>
	<string>reshiop-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>reshiop-mobile-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:934266920805:ios:23962fbe36302801a8cb8c</string>
</dict>
</plist>